html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 100% georgia, sans-serif;
	line-height: 1.88889;
	color: black;
	background-color: #DDDDDD;
	margin: 0; 
	padding: 0;
	}
	
header {
	padding-top: 20px;
	height: 87px;
}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

ul {
	margin: 0;
	padding: 0;
	}
li {
    color: #FF3300;
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
li a:link {
	color: #FF3300;
	}
li a:visited {
	color: #FF3300;
	}

.CharacterList {
    text-align: left;
    width: 50vw;
    height: 70vh;
}

.CharacterDetail {
    text-align: left;
    vertical-align: top;
    width: 50vw;
    height: 70vh;
}

.CharacterStatistic {
    text-align: right;
    vertical-align: top;
    width: 100px;
}

.CharacterCreate {
    text-align: left;
    width: 50vw;
    height: 70vh;
}

.LoginVue {
    text-align: left;
    width: 50vw;
    height: 70vh;
}

.RegisterVue {
    text-align: left;
    width: 50vw;
    height: 70vh;
}

.Navigation {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #BBBBBB;
}
