<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'whitebox/style.css' %}">
    <title>{% block title %}Whitebox{% endblock %}</title>
</head>

<body>
    <div id="sidebar" align="center">
        <h1>Whitebox Character Manager</h1>
        {% block sidebar %}
         <table><tr><td align="left">
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="/whitebox/ViewAll">Character List</a></li>
                <li><a href="/whitebox/ViewMine">View My Characters Only</a></li>
                <li><a href="/whitebox/GenerateForm">Generate Another Character</a></li>
                <li><a href="/whitebox/LogoutPage">Logout {{ request.user.username }}</a></li>
            {% endif %}

            {% if not request.user.is_authenticated %}
                <li><a href="/whitebox/ViewAll">Character List</a></li>
                <li><a href="/whitebox/GenerateForm">Generate Another Character</a></li>
                <li><a href="/whitebox/LoginForm">User Login</a></li>
                <li><a href="/whitebox/RegisterForm">Register User</a></li>
            {% endif %}
        </ul>
        </td></tr></table>
        {% endblock %}
    </div>

    <div id="content" align="center">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>